{% extends "base.html" %}



{% block content %}




{% with messages = get_flashed_messages(with_categories=true) %}



    {% if messages %}



        {% for category, message in messages %}


        <div class="alert {{ category }}">

            {{ message }}

        </div>


        {% endfor %}
        
    {% endif %}



{% endwith %}







<div class="card">



    <h1>

        MiniSec Vulnerability Lab

    </h1>



    <p>

        网络空间安全实验平台

        <br>

        Cyber Security Learning Platform

    </p>



    <p>

        探索常见 Web 漏洞与安全原理

        <br>

        Explore common web vulnerabilities and security concepts

    </p>



</div>







<div class="card">



    <h2>

        当前状态

        <br>

        Current Status

    </h2>





    {% if session.get("username") %}




        <p>

            当前用户:

            {{ session.get("username") }}

        </p>



        <p>

            Status:

            Logged In

        </p>



    {% else %}




        <p>

            未登录

            <br>

            Not Logged In

        </p>



    {% endif %}





</div>







<div class="card">



    <h2>

        平台介绍

        <br>

        About MiniSec

    </h2>



    <p>

        MiniSec 是一个用于学习 Web 安全漏洞原理的个人实验平台。

        <br><br>

        MiniSec is a personal laboratory platform
        for learning web security vulnerabilities.

    </p>



</div>






{% endblock %}