{% extends "base.html" %}


{% block content %}



<div class="card">


    <h1>
        MiniSec Vulnerability Labs
    </h1>


    <p>
        探索常见 Web 漏洞与安全原理
        <br>
        Explore common web vulnerabilities and security concepts
    </p>


</div>





<div class="card">


    <h2>
        实验列表 Lab List
    </h2>


</div>





{% for key, lab in labs.items() %}



<div class="lab-card">


    <h2>

        {{ lab.title }}

    </h2>



    <p>

        {{ lab.english }}

    </p>



    <p>

        {{ lab.description }}

    </p>




    <a class="lab-button"
       href="/labs/{{ key }}">

        进入实验
        <br>
        Enter Lab

    </a>



</div>



{% endfor %}




{% endblock %}